{% include 'header.html' %}

<br><center><span class="badge text-bg-warning"><h1>Любимые книги</h1></span></center><br>
<div class="flex">
 {% for i in book_key %}
    <div class="card" style="width: 18rem;">
      <img src="{{i.image.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">{{i.description}}</p>
        <a href="/book_detail/{{i.id}}/" class="btn btn-primary">Подробнее</a>
      </div>
</div>
   {% endfor %}
     </div>

{% include 'footer.html' %}